<!doctype html>
<title>Python Flask Image Upload and Display Example</title>
<h2>Select an image to upload and display</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ filename }}"  width="200" height="200" >
	</div>
{% endif %}
<!-- <form method="post" action="/" enctype="multipart/form-data">-->
<!--    <dl>-->
<!--		<p>-->
<!--			<input type="file" name="file" autocomplete="off" required>-->
<!--		</p>-->
<!--    </dl>-->
<!--    <p>-->
<!--		<input type="submit" value="Submit">-->
<!--	</p>-->
<!--</form>-->


<form method ="post" action="/style" enctype="multipart/form-data">
	<dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
	<button type="submit" name="mosaic" value="mosaic">
		<img src="/static/style-images/mosaic.jpg"  width="100" height="100" />
	 </button>
	<button type="submit" name="rain_princess" value="rain_princess">
		<img src="/static/style-images/starry-night-cropped.jpg" width="100" height="100" />
	</button>
	<button type="submit" name="udnie" value="udnie">
		<img src="/static/style-images/udnie.jpg" width="100" height="100" />
	 </button>
	<button type="submit" name="candy" value="candy">
		<img src="/static/style-images/candy.jpg" width="100" height="100" />
	 </button>
	<button type="submit" name="analyze" value="analyze">
		Analyze
	</button>
  </form>

